 <div class="row" id="card" hidden>
     <div class="col s12 m12 center">
    <h6 class="header">Результаты проверки</h6>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content" id="cardcontent">
          <p>Карточка</p>
        </div>
      </div>
    </div>
  </div>