 <nav class="blue darken-1">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo right hide-on-med-and-up">Кадетский взгляд - 2022</a>
      <a href="/" class="brand-logo center hide-on-small-only">Кадетский взгляд - 2022</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Управление<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>

  <!-- ВЫПАДАЮЩЕЕ МЕНЮ -->
  <div class="dropdown-content row" id="dropdown1" >
        <ul >
         {{>navli}}
      </ul>
  </div>

 <!-- МЕНЮ ДЛЯ ТЕЛЕФОНА -->
  <ul class="sidenav" id="mobile-demo">

        {{>navli}}
  </ul>

<script> 
$( document ).ready(function () {
  $(".dropdown-trigger").dropdown(
    {
    alignment:'right',
    constrainWidth:false,
    coverTrigger:false,
    hover:true});
  $('.sidenav').sidenav();
})
</script>    
