  <!-- Modal Structure -->
  <div id="modal1" class="modal valign-wrapper">
    <div class="modal-content">
      <h4>Авторизация в системе голосования</h4>
        <form id="formauth" class="col s12 login" action="upl" method="post" enctype="multipart/form-data">
            <input class="validate" type="text" name="pass" id="pass" placeholder="Введите логин от рабочего компьютера"/>
            <div class="row">
                <div class="col s6"><button class="mbtn btn red modal-close" id="close">Закрыть</button></div>
                <div class="col s6"><button class="mbtn btn modal-close" id="btnl" type="submit">ОК</button></div>
            </div>
        </form> 
    </div>
  </div>