<div class="container">
    <div class="center">
        <h3>Страницы с адресом: {{url}} не существует!</h3>
        <img class="responsive-img center" style="margin-left: auto;margin-right: auto;"  src="/img/404.jpg">
    </div>
</div>