<div class="row center-align ">
    <h5>Авторизуйтесь, чтобы получить доступ к системе</h5>
    <div class="row center-align">
        <div class="col s6 offset-s3">
            <button class="mbtn btn modal-trigger" href="#modal1">Войти</button>
        </div>
    </div>
</div>