<div class="row">
    <div class="col s12 ">
        <h5 class="center">Инструкция к системе электронного голосования</h5>
        <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/JP41c4KFcaA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

  