<div class="container">
 <div class="row">
    <h5 class="center">Создание новости</h5>
    <form id="sendnews" action="upload" method="post" enctype="multipart/form-data" class="col s12">
      <div class="row">
                <div class="input-field col s12">
                    <input placeholder="В САНКТ-ПЕТЕРБУРГСКОМ ПАНСИОНЕ ВОСПИТАННИЦ" name="new_head" id="new_head" type="text" class="validate" data-length="130">
                    <label for="new_head">Заголовок</label>
                </div>
                <div class="input-field col s12">
                    <textarea placeholder="Основное содержание" name="new_text" id="new_text" class="materialize-textarea"></textarea>
                    <label for="new_text">Содержание новости</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Дата мероприятия" name="new_date" id="mp_date" type="text" class="datepicker">
                    <label class="active" for="mp_date">Дата</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Гришина Елена" id="new_auth" name="new_auth" type="text" class="validate" value="{{uname}}">
                    <label class="active" for="new_auth">Фамилия Имя автора новости</label>
                </div>
               <div class="row">
                    <div class="input-field col s12">
                        <div class="file-field input-field">
                        <div class="btn blue">
                            <span>Загрузить обложку</span>
                            <input type="file" name="mainpic">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" id="main_pic_name" name="main_pic_name">
                        </div>
                        </div>                    
                    </div>
                    <div class="input-field col s12">
                        <div class="file-field input-field">
                            <div class="btn blue">
                                <span>Загрузить</span>
                                <input type="file" multiple name='newsimg'>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" id="all_pic_name" name="all_pic_name" type="text" placeholder="Загрузите фотографии к новости">
                            </div>
                        </div>
                    </div>
                    <div class="col s12 center">
                        <button id="btnorto" class="btn waves-effect waves-light #64b5f6 blue lighten-2" >Проверить орфографию
                        <i class="material-icons right">format_quote</i>
                        </button>
                        <div>&nbsp;</div>
                        <button class="btn waves-effect waves-light" id="create" disabled type="submit" name="action">Создать новость
                        <i class="material-icons right">send</i>
                        </button>
                          {{>card}}
                    </div>
               </div>
                    
       </div>            
     </div>
    </form>
  </div>

  <script>
    if (Cookies.get('head')!=undefined){
        $( "#new_head" ).val(Cookies.get('head'))
    }
    if (Cookies.get('text')!=undefined){
        $( "#new_text" ).val(Cookies.get('text'))
    }

    $( "#new_head" ).keydown(function() {
      Cookies.set('head', $( "#new_head" ).val())
    });
    $( "#new_text" ).keydown(function() {
      Cookies.set('text', $( "#new_text" ).val())
    });
  </script>

