<div class="row">
    <div class="col s12">
        <h3 class="center-align">Страница в разработке</h3>
         <img class="responsive-img center" style="margin-left: auto;margin-right: auto;"  src="/img/todos.jpg">
    </div>
</div>               